!!!
%html
  %head
    %meta{:content => "text/html", :"http-equiv" => "Content-Type", :charset => "utf-8"}

    -# To take care of the autozoom features of modern tablet/phones
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, target-densitydpi=device-dpi"}

    -#%meta{:name= => "description",  :content => ""}
    -#%meta{:name= => "keywords",  :content => ""}

    %title= @title
    %link{:href => "/c-bootstrap-collapse/css/bootstrap.css", :rel => "stylesheet"}
    -#%link{:href => "/bootstrap2.3.1/css/bootstrap.css", :rel => "stylesheet"}
    -#%link{:href => "/bootstrap2.3.1/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/images/parrot-head-tiny.png", :rel => "shortcut icon"}
  %body


    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:href => "/"}
            %img.pull-left{:src => "/images/parrot-logo.png", :width => 35}
          %a.brand{:href => "/"}
            %em Το'πε ...

          %ul.nav
            %li
              %a{:href => "/authors"} Συγγραφείς
            %li
              %a{:href => "/tags"} Θέματα
            %ul#c-navbar-divider.nav
              %li.divider-vertical
            %ul#c-navbar-divider.nav
              %li.divider-vertical
            %ul#c-navbar-divider.nav
              %li.divider-vertical
            %ul#c-navbar-divider.nav
              %li.divider-vertical

          %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
            %i.icon-search

          -#.pull-right
          .collapse.nav-collapse
            %form#author-search-form.navbar-search.form-search{:method => "POST", :action => "/author_quotes"}
              .input-append
                %input#author-search-input.search-query.input-medium{:type => "text", :name => "author", :placeholder => "Ποιός;", :autocomplete => "off", :"data-provide" => "typeahead", :"data-mysource" => @author_names}
                %button.btn{:type => "submit"}
                  %i.icon-play

            %ul#c-navbar-divider.nav
              %li.divider-vertical

            %form#tag-search-form.navbar-search.form-search{:method => "POST", :action => "/tag_quotes"}
              .input-append
                %input#tag-search-input.search-query.input-medium{:type => "text", :name => "tag", :placeholder => "Τι;", :autocomplete => "off", :"data-provide" => "typeahead", :"data-mysource" => @tag_names}
                %button.btn{:type => "submit"}
                  %i.icon-play



    .container
      .main-header
        .row
          .span8
            %h1
              %em= @title
            .random-quote
              %p= @random_quote[:quote]
              %small= @random_quote[:name]
          .span3
            %img#c-logo-img{:src => "/images/parrot-speaks.png"}
      = yield



    -# Placed at the end of the document so the pages load faster 
    %script{:src => "/js/jquery-1.9.1.min.js"}
    %script{:src => "/bootstrap2.3.1/js/bootstrap.min.js"}
    %script{:src => "/js/main.js"}




