!!!
%html
  %head
    %meta{:content => "text/html", :"http-equiv" => "Content-Type", :charset => "utf-8"}
    %title= @title
    %link{:href => "/bootstrap2.3.1/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/images/parrot-head-tiny.png", :rel => "shortcut icon"}
  %body
    .container
      .main-header
        %img{:src => "/images/parrot.png"}
        %h1
          %em= @title
        %br/
        .row
          .span9
            .random-quote
              %p= @random_quote[:quote]
              %small= @random_quote[:name]
      = yield
    -# Placed at the end of the document so the pages load faster 
    %script{:src => "/js/jquery-1.9.1.min.js"}
    %script{:src => "/bootstrap2.3.1/js/bootstrap.min.js"}
